﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="~/Content/css/my_css.css" rel="stylesheet" />
</head>
<body>
    <div>
        <div class="top-bar">
            <div class="main-bar">
                <div class="contact-left">
                    <a>(028) 3456789</a>
                    <a>(028) 3456789</a>
                    <button>Liên hệ quảng cáo</button>
                    <button>Like</button>
                    <button>Follow</button>
                    <button>Youtube</button>
                </div>
                <div class="login-right">
                    <button>Đăng nhập</button>
                    <button>Đăng kí</button>
                    <input placeholder="Tìm kiếm" />
                </div>
            </div>
        </div>
        <div class="main-container"></div>
        <div class="banner-container">
            <img src="~/Content/images/Logo_Vnexpress.png" />
            <img src="~/Content/images/banner-ads-1.png" />
            <img src="~/Content/images/banner-ads-2.png" />
        </div>
        <div class="contact-left">
            <i class="glyphicon glyphicon-home"></i>
            <button class="nav-item">Thời sự </button>
            <button class="nav-item">Thế giới </button>
            <button class="nav-item">Kinh doanh</button>
            <button class="nav-item">Giải trí</button>
            <button class="nav-item">Thể thao</button>
            <button class="nav-item">Pháp luật</button>
            <button class="nav-item">Giáo dục</button>
            <button class="nav-item">Sức khỏe</button>
            <button class="nav-item">Gia đình</button>
            <button class="nav-item">Du lịch</button>
            <button class="nav-item">Khoa học</button>
            <button class="nav-item">Số hóa</button>
            <button class="nav-item">Xe</button>
            <button class="nav-item">Cộng đồng</button>
            <button class="nav-item">Tâm sự</button>
            <button class="nav-item">Video</button>
            <button class="nav-item">Cười</button>
            <button class="nav-item">Rao vặt</button>
        </div>
        <div class="news-container">
            <div class="main-news">
                <button>Trang nhất</button>
                <img src="~/Content/images/thumnails.png" />
                <h1>Trump và Clinton đối đầu nảy lửa trong tranh luận trực tiếp đầu tiên </h1>
                <p>Hai ứng viên chạy đua vào chức tổng thống Mỹ Clinton và Trump tranh cãi nãy lửa trong hàng loạt vấn đề từ nhà đất, thương mại, đến cuộc chiến chống khủng bố...</p>
                <p>*Túi tiền tranh cử của bà Clinton nặng gấp đôi tỷ phú Trump</p>
            </div>

            <div class="other-news">
                <div class="other-news-top">
                    <button>English</button>
                    <p>Đài Loan đóng cửa trường học vì bão Megi</p>
                    <p>Những đứa trẻ sống vất vẻo trên dầm cầu đã có chốn dung thân</p>
                    <p>Tại sao các đôi hoàn hảo vẫn li dị</p>
                    <p>Ssang Korando - crossover giá một tỷ tại Việt Nam</p>
                    <p>Lỗ hổng iOS 10 giúp hacker giải mã bản sao lưu dễ dàng</p>
                </div>

                <div class="other-news-bottom">
                    <button>Góc nhìn</button>
                    <p>"Thất thủ trước cơn mưa"</p>
                    <p>Hàng triệu người bất lực trước một cơn mưa, hay còn bởi điều gì khác ?</p>
                </div>
            </div>

            <div class="ads">
                <p>Thứ 3, 27/9/2016 | 09:16 GMT+7</p>
                <button>24h qua</button>
                <button>RSS</button>
                <img src="~/Content/images/right-ads-1.png" />
                <img src="~/Content/images/right-ads-2.png" />
                <img src="~/Content/images/right-ads-3.png" />
            </div>
        </div>
    </div>

    </div>
</body>
</html>
