﻿body h1 {
    background-color: aqua;
}

body .top-bar {
    background-color: red;
}

    body .top-bar .main-bar {
        width: 80%;
        background-color: brown;
        margin: auto;
        display: flex;
        flex-wrap: nowrap;
    }

        body .top-bar .main-bar .contact-left {
            flex-grow: 4;
            background-color: blue;
            display: flex;
            justify-content: center;
            gap: 10px;
        }

        body .top-bar .main-bar .login-right {
            flex-grow: 2;
            background-color: cadetblue;
        }

        .nav-item {
        }

        .main-container {
            width: 1400px;
            margin-left: auto;
            margin-right: auto;
        }

        .banner-container {
            display: flex;
        }

        .banner-container img {
            width: 33.33333%;
        }

        .contact-left {
            display: flex;
            justify-content: space-between;
        }

        .news-container {
            display: flex;
        }

        .main-news {
            display: flex;
            flex-direction: column;
            flex-basis: 50%;
        }

        .main-news button {
            width: 100px;
        }

        .other-news {
            flex-basis: 20%;
            font-size: 20px;
        }

        .ads {
            flex-basis: 30%;
        }

        .other-news button {
            font-size: 17px;
        }
